@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

#carritoFoto {
  width: 50px;
  height: 50px;
  padding: 0, 2em;
}

.satisfy {
  font-family: "Satisfy", cursive;
}

.card {
  /* previously added styles */
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  width: 18rem;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
/* Add rounded corners to the top left and the top right corner of the image */
.card-img-top {
  border-radius: 1em 1em 1em 1em;
  height: 12em;
  width: 15em;
}
.card-title {
  margin-top: 1em;
}

.modal {
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
